
* {
    box-sizing: border-box;
    background-color: rgb(32, 29, 29);
 
  }

  h2{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 5px;
    font-size: 35px;
    color: white;
    text-align:center;
    padding: 15px;
    background-color: rgba(10,23,55,0.0);    
  }
  
  div{
    background-image: linear-gradient(to right, #00C7FF, #007CFF);
    border-radius: 18px;
  }
  
  ul{
    margin:0;
    padding: 0;    
  }

  ul li{
    margin-top: 10px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 8px;
    background: #eee;
    transition: 0.2s;
    list-style: none;
    border-radius: 18px;
  }

  /*para fazer o efeito listra de zebra*/
  ul li:nth-child(odd) {
    background: #b6b2b2;
  }

  /*mudar a cor no hover*/
  ul li:hover{
    background: #ddd;
  }

  input{
    font-size: 35px;
    background-color: rgba(10,23,55,0.0);
    color: white;
    outline:none;
  }

  ::placeholder{
    outline: none;
    color:rgba(255,255,255,0.8);
  }

